* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Evita problemas de largura com padding */
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #b28653;
    border-bottom: 1px solid #eee;
    padding: 20px 0;
    width: 100%;

}

.logo-img {
    width: 200px;
    margin: 0 auto 20px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-menu {
    margin: 5px 10px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    padding: 10px 20px;
}


.item-menu:hover {
    background-color: #eee;
    color: #b28653;
    cursor: pointer;
    border: #eee 1px solid;
    border-radius: 5px;
    padding: 9px 19px;
}

.menu-btn {
    display: none;
    width: 25px;
}

.encomendas-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 999;
    width: 140px;
    height: 50px;
    border-radius: 10px;
    background-color: #b28653;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.encomendas-btn:hover {
    background-color: #b28653;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 768px) {
    header {
        justify-content: space-between;
        padding: 10px 20px;

    }

    .logo-img {
        width: 100px;
    }

    .menu.mobile {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }

    .menu-btn {
        display: block;
    }

    .item-menu {
        display: none;
    }

    .menu.active {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #b28653;
        width: 100%;
        position: fixed;
        top: 120px;
        left: 0;
        z-index: 1;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        transition: all 0.3s ease;
    }

    .menu.active .item-menu {
        display: flex;
        justify-content: center;
        height: auto;
        margin: 5px 0;
        padding: 10px 0;
        width: 100%;
        text-align: center;
    }

    .encomendas-btn {
        background-color: transparent;
        position: relative;
        width: 100%;
        height: 30px;
        border-radius: none;
        box-shadow: none;
        z-index: 0;
    }

    .encomendas-btn:hover {
        background-color: transparent;
        color: white;
        box-shadow: none;
    }
}